@import 'bourbon/bourbon'
@import '../bower_components/Materialize/sass/materialize.scss'
@import 'para.sass'

html
  font-family: $helvetica

h1
  font-size: 3em
  font-style: italic

#img1
  @include filter(blur(3px))
  @include filter(brightness(60%))
